: root{ 
  --cor-primaria:rgb(5, 189, 143);; 
  --cor-secundaria: rgb(48, 178, 238);
  --cor-fundo:#4812e9;
  --cor-texto:#fdfcfe;
  --cor-contraste:#442896;
  --cor-botao:#14024b;
}

        body {
            background-color: var(--cor-primaria);
        }
        header{  
          background-color: var(--cor-secundaria);
          color: var(--cor-texto) ;
          text-align: center;
          max-width: 800px;
          margin:0 auto;
          border: 2px solid var(--cor-botao);
          padding: 16px
       }
       main {     
            
          color: rgb(0, 9, 9) ; 
          text-align: center;
          margin:0 auto;
          display: center;
       }
       img {    
        width: 300px;
        height: 300px;
        border: 2px solid #000000;
       }

       article {
         text-align: center;
       }
